
@model  IEnumerable<FTS.Model.Entities.AreaMasterModel>
@{
    ViewBag.Title = "Area Master";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <br />
    <section>
        <h3 style="font-weight:bold;"> @ViewBag.Title</h3>
    </section>       

    <div class="content-wrapper">
        <div class="row">           
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <div id="Filter" class="dataTables_filter float-right mx-3">
                                        <a id="Add" href="/AreaMaster/AddAreaMaster/?areaid=" class="btn btn-outline-primary"><i class="fas fa-plus-circle mr-1"></i>Add New</a>
                                            </div>
                                    <table id="AreaList" class="display expandable-table" style="width:100%">
                                        <thead>
                                            <tr>
                                                
                                                  <th style="width:20%;" id="areaName">Area Name</th>
                                                  <th  style="width:2%;" id="Edit">Action</th>
                                                 
                                            </tr>
                                        </thead>
                                        <tbody>
                                             @foreach (var item in Model)
                                            {
                                                <tr>
                                                    
                                                    <td valign="top" class="text-left">@item.AreaName </td>
                                                <td>
                                                     <a id="Edit" href="/AreaMaster/AddAreaMaster/?areaid=@item.EncryptedId" ><i class="fas fa-pen"></i></a>
                                                    <a id="Delete" onclick=" return DeleteRecord(@item.AreaID);"><i class="fas fa-trash-alt"></i></a>
                                                </td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                
                                </div>
                            </div>                            
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
 
    <script>

      $( document ).ready(function() {
       // AreaList();
        //$('#AreaList').DataTable();
        $('#AreaList').dataTable( {} );
    });

   
    function DeleteRecord(areaID) {
        debugger;
                var myData = {
                    AreaID: areaID,
                };
                $.ajax
                    ({
                        type: "POST",
                        url: "/AreaMaster/DeleteAreaRecord",
                        headers: {"XSRF-TOKEN": document.getElementsByName("__RequestVerificationToken")[0].value},
                        dataType: "json",
                        data: myData,
                        success: function(data) {
                            debugger;
                            if (data.data.ErrorCode == 0) {
                                window.location.href = "/AreaMaster/Index";
                                alert(data.data.ErrorMassage);
                            }
                            else {
                                alert('Something went wrong!');
                            }

                        },

                        error: function() {
                            alert('Something went wrong!');
                        }
                    })
           
    }

        </script>

}
