<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - COL</title>

    <link rel="stylesheet" href="~/Scripts/vendors/feather/feather.css" />
    <link rel="stylesheet" href="~/Scripts/vendors/ti-icons/css/themify-icons.css" />
    <link rel="stylesheet" href="~/Scripts/vendors/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="~/Scripts/vendors/select2/select2.min.css" />
@*    <link rel="stylesheet" href="~/Scripts/vendors/select2-bootstrap-theme/select2-bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/Scripts/css/vertical-layout-light/style.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/site.css rel="stylesheet" />
    <link href="~/css/font-awesome/all.min.css" rel="stylesheet" />
  @*  <link href="~/css/Loginstyle.css" rel="stylesheet" />*@

     <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="~/images/fav/apple-icon-57x57.png" />

    <link rel="apple-touch-icon" sizes="60x60" href="~/images/fav/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/fav/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/images/fav/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/fav/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="~/images/fav/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/fav/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/fav/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/fav/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="~/images/fav/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/fav/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="~/images/fav/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/fav/favicon-16x16.png" />
    <meta name="msapplication-TileColor" content="#fa7070" />
    <meta name="msapplication-TileImage" content="~/images/fav/ms-icon-144x144.png" />
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo:400,400i,500,500i,600,600i,700,700i&amp;display=swap">
    <!-- CSS Global Compulsory (Do not remove)-->
    <link rel="stylesheet" href="~/css/font-awesome/all.min.css" />
    <link rel="stylesheet" href="~/css/flaticon/flaticon.css" />
    <!-- Page CSS Implementing Plugins (Remove the plugin CSS here if site does not use that feature)-->
    <link rel="stylesheet" href="~/css/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/swiper/swiper.min.css" />
    <link rel="stylesheet" href="~/css/animate/animate.min.css" />
    <link rel="stylesheet" href="~/css/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="~/lib/jquery/dist/jquery-ui.css"/>
    <link rel="stylesheet" href="~/css/SweetAlert/sweetalert2.css">
   @* <script src="~/Scripts/js/sweetalert.min.js"></script>*@
    <script src="~/css/SweetAlert/sweetalert2.js"></script>

    <!-- Template Style -->
    <link rel="stylesheet" href="~/css/style.css" />

    <script src="~/Scripts/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/Scripts/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script src="~/Scripts/vendors/select2/select2.min.js"></script>
    <script src="~/Scripts/js/off-canvas.js"></script>
    <script src="~/Scripts/js/hoverable-collapse.js"></script>
    <script src="~/Scripts/js/template.js"></script>
    <script src="~/Scripts/js/settings.js"></script>
    <script src="~/Scripts/js/todolist.js"></script>
    <script src="~/Scripts/vendors/js/file-upload.js"></script>
    <script src="~/Scripts/vendors/js/typeahead.js"></script>
    <script src="~/Scripts/vendors/js/select2.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery-ui.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
     <!--=================================
    Javascript -->
    <!-- JS Global Compulsory (Do not remove)-->
    
    <script src="~/Scripts/popper/popper.min.js"></script>
    <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>*@
    <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
    <script src="~/Scripts/jquery.appear.js"></script>
    <script src="~/Scripts/swiper/swiper.min.js"></script>
 @*   <script src="~/Scripts/swiperanimation/"></script>*@
    <script src="~/Scripts/counter/jquery.countTo.js"></script>
    <script src="~/Scripts/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Scripts/jarallax/jarallax.min.js"></script>
    <script src="~/Scripts/jarallax/jarallax-video.min.js"></script>
    <script src="~/Scripts/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/shuffle/shuffle.min.js"></script>
    <script src="~/Scripts/typer/jquery.typer.js"></script>
    <!-- Template Scripts (Do not remove)-->
   <script src="~/Scripts/custom.js"></script>
@*    <script src="~/js/Crypto-sha1.js"></script>
    <script src="~/js/GetSHACode.js"></script>*@
  

   @* jquery.unobtrusive-ajax*@
      
</head>

<body> 
 
    @RenderBody()    

     <div id="wait" class="chat-loader-sec" style="display: none;">
                    <div class="chat-loader">
                        <img src="~/Images/loader-spin.gif" />
                    </div>
        </div>
</body>
</html>

<style>
    .chat-loader-sec {
    position: fixed;
    left: 0;
    right: 0;
    top: 0; 
    bottom: 0;
    z-index: 99999;
    background: rgba(255,255,255,0.38);
}



   .chat-loader-sec .chat-loader {
        height: 50px;
        width: 50px;
        position: absolute;
        left: 0;
        top: 50%;
        right: 0;
        margin: -25px auto 0;
    }
</style>

<script>
        $(document).ajaxStart(function () {

           $("#wait").show();

        });

        $(document).ajaxStop(function () {

           $("#wait").hide();

        });

        $(document).ajaxError(function () {

           $("#wait").hide();

        });
    </script>
